@mixin dynamic-flex-row($jc: center, $ai: center) {
  display: flex;
  flex-direction: row;
  justify-content: $jc;
  align-items: $ai;
}

@mixin dynamic-flex-column($jc: center, $ai: center) {
  display: flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: $ai;
}

@mixin mobile {
  @media (width<768px) {
  
    @content;
  }
}
