@mixin flex-col-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin dynamic-flex-row($jc, $ai) {
  display: flex;
  flex-direction: row;
  justify-content: $jc;
  align-items: $ai;
}

@mixin dynamic-flex-column($jc, $ai) {
  display: flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: $ai;
}

@mixin dynamic-relative($left, $right, $top, $bottom) {
  position: relative;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin dynamic-absolute($left: 0, $right: 0, $top: 0, $bottom: 0) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
