$main-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$font-sizes: (
  "sm": 1.2rem,
  "md": 1.6rem,
  "lg": 2.4rem,
  "xl": 3.2rem,
);

$w: (
  "sm": 25%,
  "md": 50%,
  "lg": 75%,
  "xl": 100%,
);
